<div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    @if(images?.length) {
      @for(image of images; track image; let first = $first) {
        <div class="carousel-item h-100" [ngClass]="{'active': first}">
          <img [src]="'data:image/*;base64, ' + image.base64ImageData" class="carousel-img d-block" alt="...">
        </div>       
      }
    } @else {
      <div class="carousel-item active">
        <img src="https://via.placeholder.com/600x400" class="d-block w-100" alt="...">
      </div>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>